/* 全体 */
div#wrap{
    width: 350px;
    height: 550px;
    margin: auto;
    background-color: grey;
    position: relative;
}

/* ヘッダー */
div#header{
    width: auto;
    height: 40px;
    margin: auto;
    background-color: #000;
}
div#header p{
    display: inline-block;
    margin: 10px 0 0 10px;
    color: #fff;
}
p#yyyymmdd{
    font-size: 0.6rem;
}
p#time{
    font-size: 1.5rem;
    position: relative;
    left: 30px;
}
div#header i{
    color: #fff;
    font-size: 0.9rem;
}
p#climate{
    position: relative;
    left: 70px;
    font-size: 0.9rem;
}

/* フッター */
div#footer{
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 10px 0 10px 0;
}
div#footer a{
    text-decoration: none;
    color: #fff;
}