/* 商品詳細画面 */
.thumbnail{
    max-height: 50px;
}
.modal-window{
    width: 300px;
}
.syohin p{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.img_name{
    margin: 20px 0 0 0;
    display: flex;
}
.text{
    display: inline-block;
}
.img_name p{
    font-size: 1.2rem;
}
.img_name img{
    display: flex;
    padding: 10px;
}
.prof{
    display: inline-block;
    line-height: 5px;
    text-align: right;
    position: relative;
    left: 20px;
    top: 10px;
}
.prof p{
    font-size: 1.1rem;
}
.hashtag{
    width: 110px;
    display: inline-block;
    color: blue;
    padding-bottom: 10px;
}
.hashtag p{
    margin-bottom: 20px;
    text-align: left;
    font-size: 0.7rem;
}
.allergie{
    width: 110px;
    font-size: 0.7rem;
    margin-bottom: 20px;
    display: inline-flex;
}
p.allergie_1{
    text-align: left;
    padding: 7px;
    border:1px solid #000;
    font-size: 0.7rem;
}
.cart{
    display: flex;
    position: relative;
    left: -18px;
    margin-top: 30px;
}
.spinner_area{
    height: 30px;
    width: 70px;
    display: flex;
    margin-left:5px;
}
.spinner_area input{
    width: 30px;
    text-align: center;
}
.plus{
    background-color: #ffd900;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    position: relative;
    left: 35px;
}
.plus:hover{
    background-color: #ffe866;
}